---
const year = new Date().getFullYear();
---
<footer class="site-footer">
  <div>&copy; {year} Wiran Larbi</div>
  <div>
    <a href="https://github.com/Wiran-Larbi" target="_blank" rel="noopener">GitHub</a>
    <span>&nbsp;/&nbsp;</span>
    <a href="mailto:wiranlarbiofficial@gmail.com">Email</a>
    <span>&nbsp;/&nbsp;</span>
    <a href="/rss.xml">RSS</a>
  </div>
</footer>
