---
const year = new Date().getFullYear();
---
<footer class="site-footer">
  <div>&copy; {year} Derek Castelli</div>
  <div>
    <a href="https://github.com/heyderekj" target="_blank" rel="noopener">GitHub</a>
    <span>&nbsp;/&nbsp;</span>
    <a href="mailto:derekj@hey.com">Email</a>
    <span>&nbsp;/&nbsp;</span>
    <a href="/rss.xml">RSS</a>
  </div>
</footer>
